/*
colors

yellow: #ffb300
blue: #1a237e
black: #161925
dark blue: #23395b
purple: #31263e
*/

body{
  font-family: 'Muli', sans-serif;
  color: #1a237e;
  background-color: #161925;
}

.general-container{
  width: 100vw;
  overflow-x: hidden;
}

.s-yellow{
  background-color: #ffb300 !important;
}
.s-yellow-text{
  color: #ffb300;
}
.s-blue{
  background-color: #1a237e;
}
.s-blue-text{
  color: #1a237e;
}
.s-black{
  background-color: #161925;
}
.s-black-text{
  color: #161925;
}
.s-dark-blue{
  background-color: #23395b;
}
.s-dark-blue-text{
  color: #23395b;
}
.s-purple{
  background-color: #31263e;
}
.s-purple-text{
  color: #31263e;
}

/* label focus color */
 .input-field input:focus + label {
   color: #ffb300 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #ffb300 !important;
   box-shadow: 0 1px 0 0 #ffb300 !important
 }

 .animation-container{
  overflow: visible !important;
 }

.map-bg{
  background-image: url('../img/map.jpg');
  background-size: cover;
}

.tagline{
  margin-top: 0px;
  padding: 175px 0 100px 0;
}

.map-bg-2{
  background-image: url('../img/map2.jpg');
  background-size: cover;
}

.no-padding{
padding: 0px !important;
}

.v-margin{
  margin-top: 100px;
  margin-bottom: 100px;
}

.v-margin-small{
  margin-top: 50px;
  margin-bottom: 50px;
}

.v-padding-small{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.left-pill{
  border-radius: 0 800px 800px 0;
  padding: 8% !important;
}

.right-pill{
  border-radius: 800px 0 0 800px;
  padding: 8% !important;
}

.container-responsive {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container-responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 601px) {
  .responsive-icons {
    width: 50% !important;
  }
}

@media only screen and (min-width: 360px) {
  .flow-text-l {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text-l {
    font-size: 2.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text-l {
    font-size: 2.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text-l {
    font-size: 2.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text-l {
    font-size: 2.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text-l {
    font-size: 2.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text-l {
    font-size: 2.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text-l {
    font-size: 2.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text-l {
    font-size: 2.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text-l {
    font-size: 2.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text-l {
    font-size: 2.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text-l {
    font-size: 2.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text-l {
    font-size: 2.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text-l {
    font-size: 2.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text-l {
    font-size: 2.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text-l {
    font-size: 2.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text-l {
    font-size: 2.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text-l {
    font-size: 2.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text-l {
    font-size: 2.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text-l {
    font-size: 2.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text-l {
    font-size: 2.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text-l {
    font-size: 2.2rem;
  }
}
